<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FAC Mopar UI</title>
</head>
<body>

	<mainheader></mainheader>

	<!-- HERO -->
	<div id="hero">
		<img src="" alt="">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="hero-caption">
						<h1>MOPAR National eStore and Accessory Program Enrollment</h1>
						<div class="dealer-button">View the Plans</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Progress Bar -->
	<div class="container">
		<div class="row">
			<div class="col-10 order-2">
				<ul id="progress-bar" class="d-flex align-items-center">
					<li class="prog-button">
						<p>1. Dealer Code</p>
						<input type="checkbox" name="" id="">
					</li>
					<li class="prog-button">
						<p>2. Contact Info</p>
						<input type="checkbox" name="" id="">
					</li>
					<li class="prog-button">
						<p>3. Billing Info</p>
						<input type="checkbox" name="" id="">
					</li>
					<li class="prog-button">
						<p>4. Review Info</p>
						<input type="checkbox" name="" id="">
					</li>
					<li class="prog-button">
						<p>5. Accept & Sign</p>
						<input type="checkbox" name="" id="">
					</li>
					<li class="prog-button active">
						<p>6. Complete</p>
						<input type="checkbox" name="" id="">
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- PLAN CARDS -->
	<div id="plan-cards">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-column flex-md-row justify-content-md-center align-items-center">

					<div class="plan-card d-flex flex-column justify-content-center">
						<div class="plan-card-inner d-flex flex-column align-items-center">
							<h3>Fca Estore, Dealer Estore & Cloud Accessorizer</h3>
							<div class="d-flex flex-column align-items-center">
								<div class="price">
									<span>$599</span>
									<p>a month</p>
								</div>
							</div>
							<button class="dealer-button">Select Plan</button>
							<div class="append-options d-flex justify-content-between align-items-center">
								<input type="checkbox" name="append-options-check" id="append-options-check">
								<p>Add on In-Store Accressory Program</p>
							</div>
							<ul class="options">
								<li>FCA National Parts Store <i class="fas fa-check"></i></li>
								<li>Cloud Accessorizer <i class="fas fa-check"></i></li>
								<li>Dealer Branded eStore <i class="fas fa-check"></i></li>
								<li>eBay/Amazon <i class="fas fa-check"></i></li>
								<li>Local Delivery <i class="fas fa-check"></i></li>
							</ul>
							<hr>
							<a href="">See Details</a>
						</div>
					</div>

					<div class="plan-card plan-card-center d-flex flex-column justify-content-center">
						<div class="plan-card-inner d-flex flex-column align-items-center">
							<h3>Fca Estore & Cloud Accessorizer</h3>
							<div class="d-flex flex-column align-items-center">
								<div class="price">
									<span>$290</span>
									<p>a month</p>
								</div>
							</div>
							<button class="dealer-button">Select Plan</button>
							<div class="append-options d-flex justify-content-between align-items-center">
								<input type="checkbox" name="append-options-check" id="append-options-check">
								<p>Add on In-Store Accressory Program</p>
							</div>
							<ul class="options">
								<li>FCA National Parts Store <i class="fas fa-check"></i></li>
								<li>Cloud Accessorizer <i class="fas fa-check"></i></li>
								<li>Dealer Branded eStore</li>
								<li>eBay/Amazon</li>
								<li>Local Delivery</li>
							</ul>
							<hr>
							<a href="">See Details</a>
						</div>
					</div>

					<div class="plan-card d-flex flex-column justify-content-center">
						<div class="plan-card-inner d-flex flex-column align-items-center">
							<h3>In-Showroom Accessory Program</h3>
							<div class="d-flex flex-column align-items-center">
								<div class="price">
									<span>$290</span>
									<p>a month</p>
								</div>
							</div>
							<button class="dealer-button">Select Plan</button>
							<div class="append-options d-flex justify-content-between align-items-center">
								<input type="checkbox" name="append-options-check" id="append-options-check">
								<p>Add on In-Store Accressory Program</p>
							</div>
							<ul class="options">
								<li>Option A <i class="fas fa-check"></i></li>
								<li>Option B <i class="fas fa-check"></i></li>
								<li>Option C <i class="fas fa-check"></i></li>
								<li>Option D <i class="fas fa-check"></i></li>
							</ul>
							<hr>
							<a href="">See Details</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Sales Info -->
	<div id="sales-banner">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3>In the last 12 months, MOPAR dealers sold</h3>
					<div class="sales-icons d-flex flex-column flex-sm-row align-items-center">
						<div class="sales-icon">
							<i class="fas fa-car"></i>
							<div class="sales-metric d-flex flex-column align-items-center">
								<p>$14.7 Million</p>
								<p>in Parts</p>
							</div>
						</div>
						<div class="sales-icon">
							<i class="fas fa-car"></i>
							<div class="sales-metric d-flex flex-column align-items-center">
								<p>$1 Million</p>
								<p>in Accessories</p>
							</div>
						</div>
						<div class="sales-icon">
							<i class="fas fa-car"></i>
							<div class="sales-metric d-flex flex-column align-items-center">
								<p>228,192</p>
								<p>Total Units</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- DETAILS PANEL -->
	<div id="details-panel">
		<div class="details-header">
			<h2>MOPAR Estore and Plan Accessorizer</h2>
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
		<div class="details-body">
			<h3>Plan Includes</h3>
			<div class="detail-item">
				<h4>Detail Item Header</h4>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
			<div class="detail-item">
				<h4>Detail Item Header</h4>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
			<div class="detail-item">
				<h4>Detail Item Header</h4>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>

	<!-- CONTACT FORM -->
	<div class=contact-forms-wrap>
		<div class="container">
			<div class="row">
				<div class="col-10">
					<!-- PARTIAL: Forms Header -->
					<div class="forms-header">
						<h1>MOPAR National eStore and Accessory Program Enrollment</h1>
						<h2><strong>PLAN SELECTED:</strong>Mopar eStore and Cloud Accessorizer</h2>
						<p>Please review and confirm or update the following information.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<h4>Dealer Information</h4>
					<form action="" id="dealer-info" class="dealer-form">
						<ul>
							<li class="d-flex flex-column">
								<label for="dealer_code">Dealer Code:</label>
								<input type="text" id="dealer_code" name="dealer_code">
							</li>
							<li class="d-flex flex-column">
								<label for="dealer_name">Dealer Name:</label>
								<input type="text" id="dealer_name" name="dealer_name">
							</li>
							<li class="d-flex flex-column">
								<label for="dealer_address">Address:</label>
								<input type="text" id="dealer_address" name="dealer_address">
							</li>
							<div class="field-split d-flex justify-content-between align-items-center">
								<li class="d-flex flex-column">
									<label for="dealer_city">City:</label>
									<input type="text" id="dealer_city" name="dealer_city">
								</li>
								<li class="d-flex flex-column">
									<label for="dealer_state">State:</label>
									<input type="text" id="dealer_state" name="dealer_state">
								</li>
							</div>
							<div class="field-split d-flex align-items-center">
								<li class="d-flex flex-column">
									<label for="dealer_zip">Zip:</label>
									<input type="text" id="dealer_zip" name="dealer_zip">
								</li>
							</div>
						</ul>
					</form>
				</div>
				<div class="col-5">
					<h4>Primary Contact</h4>
					<form action="" id="primary-info" class="dealer-form">
						<ul>
							<li class="d-flex flex-column">
								<label for="primary_first">First Name:</label>
								<input type="text" id="primary_first" name="primary_first">
							</li>
							<li class="d-flex flex-column">
								<label for="primary_last">Last Name:</label>
								<input type="text" id="primary_last" name="primary_last">
							</li>
							<li class="d-flex flex-column">
								<label for="primary_title">Title:</label>
								<input type="text" id="primary_title" name="primary_title">
							</li>
							<li class="d-flex flex-column">
								<label for="primary_email">Email:</label>
								<input type="email" name="primary_email" id="primary_email">
							</li>
							<li class="d-flex flex-column">
								<label for="primary_phone">Phone Number</label>
								<input type="tel" name="primary_phone" id="primary_phone">
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
		<!-- PARTIAL: Forms Footer -->
		<div class="forms-footer d-flex justify-content-center align-items-center">
			<button class="dealer-button dealer-button-white">Go Back</button>
			<button class="dealer-button dealer-button-blue">Continue Enrollment</button>
		</div>
	</div>


	<!-- BILLING FORMS -->
	<div class=contact-forms-wrap>
		<div class="container">
			<div class="row">
				<div class="col-10">
					<!-- PARTIAL: Forms Header -->
					<div class="forms-header">
						<h1>MOPAR National eStore and Accessory Program Enrollment</h1>
						<h2><strong>PLAN SELECTED:</strong>Mopar eStore and Cloud Accessorizer</h2>
						<p>Please provide the following information.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<h4>General Manager Information</h4>
					<form action="" id="gm-info" class="dealer-form">
						<ul>
							<li class="d-flex flex-column">
								<label for="gm_first_name">First Name:</label>
								<input type="text" id="gm_first_name" name="gm_first_name">
							</li>
							<li class="d-flex flex-column">
								<label for="gm_last_name">Last Name:</label>
								<input type="text" id="gm_last_name" name="gm_last_name">
							</li>
							<li class="d-flex flex-column">
								<label for="title">Title:</label>
								<input type="text" id="title" name="title">
							</li>
							<li class="d-flex flex-column">
								<label for="gm_phone">Phone Number</label>
								<input type="tel" name="gm_phone" id="gm_phone">
							</li>
							<li class="d-flex flex-column">
								<label for="gm_email">Email:</label>
								<input type="email" name="gm_email" id="gm_email">
							</li>
						</ul>
					</form>
				</div>
				<div class="col-5">
					<h4>Billing Contact</h4>
					<form action="" id="dealer-info" class="dealer-form">
						<ul>
							<li class="d-flex flex-column">
								<label for="billing_first_name">First Name:</label>
								<input type="text" id="billing_first_name" name="billing_first_name">
							</li>
							<li class="d-flex flex-column">
								<label for="billing_last_name">Last Name:</label>
								<input type="text" id="billing_last_name" name="billing_last_name">
							</li>
							<li class="d-flex flex-column">
								<label for="title">Title:</label>
								<input type="text" id="title" name="title">
							</li>
							<li class="d-flex flex-column">
								<label for="billing_title">Title:</label>
								<input type="text" id="billing_title" name="billing_title">
							</li>
							<li class="d-flex flex-column">
								<label for="billing_email">Email:</label>
								<input type="email" name="billing_email" id="billing_email">
							</li>
							<li class="d-flex flex-column">
								<label for="billing_phone">Phone Number:</label>
								<input type="tel" name="billing_phone" id="billing_phone">
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
		<!-- PARTIAL: Forms Footer -->
		<div class="forms-footer d-flex justify-content-center align-items-center">
			<button class="dealer-button dealer-button-white">Go Back</button>
			<button class="dealer-button dealer-button-blue">Continue Enrollment</button>
		</div>
	</div>


	<!-- REVIEW INFO -->
	<div class="review-info">
		<div class="container">
			<div class="row">
				<div class="col-10">
					<!-- PARTIAL: Forms Header -->
					<div class="forms-header">
						<h1>MOPAR National eStore and Accessory Program Enrollment</h1>
						<h2><strong>PLAN SELECTED:</strong>Mopar eStore and Cloud Accessorizer</h2>
						<p>Please provide the following information.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-10 d-flex flex-column">

					<!-- Package Info Box -->
					<div class="info-box" id="package-box">
						<div class="info-box-header d-flex justify-content-between">
							<div class="info-box-plan">
								<p>Selected Plan:</p>
								<h3>MOPAR National eStore and Cloud Accessorizer</h3>
							</div>
							<div class="info-box-price">
								<span>USD $499</span>
								<p>per month</p>
							</div>
						</div>
						<div class="info-box-body d-flex justify-content-between">
							<div class="info-box-details">
								<h4></h4>
								<ul class="detail-list">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
							<div class="info-box-details">
								<h4></h4>
								<ul class="detail-list">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
						<a href="" class="edit-info-button">Select New Plan</a>
					</div>

					<!-- Dealer Info Box -->
					<div class="info-box" id="package-box">
						<div class="info-box-body d-flex justify-content-between">
							<div class="info-box-details">
								<h4></h4>
								<ul class="detail-list">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
							<div class="info-box-details">
								<h4></h4>
								<ul class="detail-list">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
						<a href="" class="edit-info-button">Edit Information</a>
					</div>

					<!-- Contact Info Box -->
					<div class="info-box" id="package-box">
						<div class="info-box-body d-flex justify-content-between">
							<div class="info-box-details">
								<h4></h4>
								<ul class="detail-list">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
							<div class="info-box-details">
								<h4></h4>
								<ul class="detail-list">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
						<a href="" class="edit-info-button">Edit Information</a>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- FOOTER -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-column flex-md-row justify-content-md-between align-items-center">
					<div class="copyright">
						<p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> &nbsp; FCA</p>
					</div>
					<div class="footer-content">
						<p>Privacy & Legal Notices</p>
					</div>
					<div class="rp-logo">
						<p>Powered by [logo] Revolution Parts &copy; <script>document.write(new Date().getFullYear())</script></p>
					</div>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>