// Utils
@import '/node_modules/bootstrap/dist/css/bootstrap-grid.min.css';

// Variables
@import './scss/variables.scss';

// Components
@import './scss/components/hero.scss';
@import './scss/components/plan-cards.scss';
@import './scss/components/sales-banner.scss';
@import './scss/components/details-panel.scss';
@import './scss/components/progress-bar.scss';
@import './scss/components/info-boxes.scss';

// Partials
@import './scss/mainheader.scss';
@import './scss/partials/dealer-buttons.scss';

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
}

a {
	color: $blue;

	&:hover {
		color: $blueHover;
	}
}

ul {
	list-style: none;
}

footer {
	background: whitesmoke;
	padding: .5rem 0;
}